.main {
  font-family: 'LoLFont', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  /* background-color: with gradient(#091428, #0A1428); */
  background-image: linear-gradient(180deg, #091428 0%, #0A1428 100%);  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #C89B3C;
}

.center {
  text-align: center;
}

.customFileUpload {
  display: inline-block;
  padding: 2rem 2rem;
  cursor: pointer;  
  background-image: linear-gradient(90deg, #785A28 0%, #C89B3C 100%);
  color: white;
  border-radius: 1rem;
  margin-top: 1rem;
}

/* hover .customFileUpload {
  display: inline-block;
  padding: 2rem 2rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, #785A28 0%, #C89B3C 100%);
  color: white;
  border-radius: 1rem;
  margin-top: 1rem;
}
*/


.customFileUpload:hover {
  background-image: linear-gradient(90deg, #C89B3C 0%, #785A28 100%);
}

.customFileUpload:active {
  background-image: linear-gradient(90deg, #785A28 0%, #C89B3C 100%);
}



.fileInput {
  display: none;
}

.uploadedImage {
  width: 60%; /* ajuste conforme necessário */
  border-radius: 2rem;
}

@font-face {
  font-family: 'LoLFont';
  src: url('/fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.uploadButton {
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, #785A28 0%, #C89B3C 100%);
  color: white;
  border-radius: 1rem;
  margin: 1rem;
  font-family: 'LoLFont', sans-serif;

}

.uploadButton2 {
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, #785A28 0%, #C89B3C 100%);
  color: white;
  border-radius: 1rem;
  margin: .5rem;
  margin-top: 1rem;
  width: 90%;
  font-family: 'LoLFont', sans-serif;

}

.coluna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.urlInput{
  width: 90%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  font-family: 'LoLFont', sans-serif;
}