.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(180deg, #091428 0%, #0A1428 100%);

}
